#跳过具有如下标签的文件件与文件
*wmtag_memo_git_do_not_commit_this*
*wmtag_memo_git_do_not_commit_this*/
# 跳过所有的8042开头的临时文件夹
/*8042*wmtemp*/
*8042*wmtemp*/

#这里是短格式
#跳过具有如下标签的文件夹与文件
*wmgitignore*
*wmgitignore*/

### git commit 保存 VS Code 文件夹等 ###
!.vscode/
!.vscode

# 一定要保留go mod的定义文件
!go.mod

# 一定要保留go work的定义文件
!go.work

#这里是go build等输出的可执行文件的特征值
*wmbin_go_out*
*wmbin_go_out*/

#这里是各种build等输出的可执行文件的特征值
*wmbin_out*
*wmbin_out*/

*.o
*.a

advio/deadlock
advio/mandatory
advio/mcopy2
advio/nonblockw
advio/rot13a
advio/rot13c2
advio/rot13c2.c
advio/xlate
datafiles/strftime
db/libapue_db.so
db/libapue.db.so
db/libapue_db.so.1
db/t4
environ/doatexit
environ/echoarg
environ/getrlimit
environ/hello1
environ/testjmp
exercises/bo
exercises/fifo1
exercises/getlogin
exercises/getpwsvr4
exercises/goodexit
exercises/longpath
exercises/pendlock
exercises/prtime
exercises/sizepipe
exercises/vfork3
exercises/zombie
filedir/access
filedir/cdpwd
filedir/changemod
filedir/devrdev
filedir/filetype
filedir/ftw8
filedir/mycd
filedir/umask
filedir/unlink
filedir/zap
fileio/fileflags
fileio/hole
fileio/mycat
fileio/seek
intro/getcputc
intro/hello
intro/ls1
intro/mycat
intro/shell1
intro/shell2
intro/testerror
intro/uidgid
ipc1/add2
ipc1/add2stdio
ipc1/devzero
ipc1/myuclc
ipc1/pipe1
ipc1/pipe2
ipc1/pipe4
ipc1/popen1
ipc1/popen2
ipc1/tshm
ipc2/bindunix
ipc2/open.fe/openclient
ipc2/open/openclient
ipc2/opend.fe/opend
ipc2/opend/opend.poll
ipc2/opend/opend.select
ipc2/pollmsg
ipc2/sendmsg
meme.txt
printer/print
printer/printd
proc/echoall
proc/exec1
proc/exec2
proc/fork1
proc/fork2
proc/nice
proc/pracct
proc/pruids
proc/systest1
proc/systest3
proc/tellwait1
proc/tellwait2
proc/test1
proc/times1
proc/vfork1
proc/wait1
pty/pty
relation/orphan3
signals/child
signals/critical
signals/mask
signals/read1
signals/read2
signals/reenter
signals/sigtstp
signals/sigusr
signals/suspend1
signals/suspend2
signals/systest2
signals/tsleep2
sockets/findsvc
sockets/ruptime
sockets/ruptime-dg
sockets/ruptimed
sockets/ruptimed-dg
sockets/ruptimed-fd
standards/conf
standards/conf.c
standards/options
standards/options.c
standards/pathconf.sym
standards/pathopt.sym
standards/sysconf.sym
standards/sysopt.sym
stdio/buf
stdio/fgetsfputs
stdio/getcharbug
stdio/getcputc
stdio/memstr
stdio/mkstemp
stdio/tempfiles
termios/csize
termios/settty
termios/t_getpass
termios/t_isatty
termios/t_raw
termios/t_ttyname
termios/winch
threadctl/atfork
threadctl/suspend
threads/badexit2
threads/barrier
threads/cleanup
threads/exitstatus
threads/threadid
threads/timedlock
cf_figlinks/fig1.10
cf_figlinks/fig1.3
cf_figlinks/fig1.4
cf_figlinks/fig1.5
cf_figlinks/fig1.6
cf_figlinks/fig1.7
cf_figlinks/fig1.8
cf_figlinks/fig1.9
cf_figlinks/fig10.10
cf_figlinks/fig10.11
cf_figlinks/fig10.12
cf_figlinks/fig10.14
cf_figlinks/fig10.15
cf_figlinks/fig10.18
cf_figlinks/fig10.19
cf_figlinks/fig10.2
cf_figlinks/fig10.20
cf_figlinks/fig10.22
cf_figlinks/fig10.23
cf_figlinks/fig10.24
cf_figlinks/fig10.25
cf_figlinks/fig10.26
cf_figlinks/fig10.28
cf_figlinks/fig10.29
cf_figlinks/fig10.31
cf_figlinks/fig10.5
cf_figlinks/fig10.6
cf_figlinks/fig10.7
cf_figlinks/fig10.8
cf_figlinks/fig10.9
cf_figlinks/fig11.10
cf_figlinks/fig11.11
cf_figlinks/fig11.12
cf_figlinks/fig11.14
cf_figlinks/fig11.15
cf_figlinks/fig11.16
cf_figlinks/fig11.2
cf_figlinks/fig11.3
cf_figlinks/fig11.4
cf_figlinks/fig11.5
cf_figlinks/fig12.11
cf_figlinks/fig12.12
cf_figlinks/fig12.13
cf_figlinks/fig12.16
cf_figlinks/fig12.17
cf_figlinks/fig12.4
cf_figlinks/fig12.8
cf_figlinks/fig13.1
cf_figlinks/fig13.6
cf_figlinks/fig13.7
cf_figlinks/fig13.8
cf_figlinks/fig13.9
cf_figlinks/fig14.1
cf_figlinks/fig14.12
cf_figlinks/fig14.20
cf_figlinks/fig14.24
cf_figlinks/fig14.27
cf_figlinks/fig14.5
cf_figlinks/fig14.6
cf_figlinks/fig14.7
cf_figlinks/fig14.9
cf_figlinks/fig15.11
cf_figlinks/fig15.12
cf_figlinks/fig15.14
cf_figlinks/fig15.15
cf_figlinks/fig15.17
cf_figlinks/fig15.18
cf_figlinks/fig15.19
cf_figlinks/fig15.31
cf_figlinks/fig15.33
cf_figlinks/fig15.35
cf_figlinks/fig15.5
cf_figlinks/fig15.6
cf_figlinks/fig15.7
cf_figlinks/fig16.10
cf_figlinks/fig16.11
cf_figlinks/fig16.12
cf_figlinks/fig16.16
cf_figlinks/fig16.17
cf_figlinks/fig16.18
cf_figlinks/fig16.19
cf_figlinks/fig16.20
cf_figlinks/fig16.22
cf_figlinks/fig16.9
cf_figlinks/fig17.10
cf_figlinks/fig17.12
cf_figlinks/fig17.13
cf_figlinks/fig17.14
cf_figlinks/fig17.15
cf_figlinks/fig17.16
cf_figlinks/fig17.17
cf_figlinks/fig17.18
cf_figlinks/fig17.19
cf_figlinks/fig17.2
cf_figlinks/fig17.20
cf_figlinks/fig17.21
cf_figlinks/fig17.22
cf_figlinks/fig17.23
cf_figlinks/fig17.24
cf_figlinks/fig17.25
cf_figlinks/fig17.26
cf_figlinks/fig17.27
cf_figlinks/fig17.28
cf_figlinks/fig17.29
cf_figlinks/fig17.3
cf_figlinks/fig17.30
cf_figlinks/fig17.31
cf_figlinks/fig17.4
cf_figlinks/fig17.5
cf_figlinks/fig17.8
cf_figlinks/fig17.9
cf_figlinks/fig18.10
cf_figlinks/fig18.11
cf_figlinks/fig18.12
cf_figlinks/fig18.13
cf_figlinks/fig18.14
cf_figlinks/fig18.15
cf_figlinks/fig18.16
cf_figlinks/fig18.17
cf_figlinks/fig18.18
cf_figlinks/fig18.20
cf_figlinks/fig18.21
cf_figlinks/fig18.22
cf_figlinks/fig19.10
cf_figlinks/fig19.11
cf_figlinks/fig19.12
cf_figlinks/fig19.16
cf_figlinks/fig19.9
cf_figlinks/fig2.13
cf_figlinks/fig2.14
cf_figlinks/fig2.16
cf_figlinks/fig2.17
cf_figlinks/fig20.3
cf_figlinks/fig3.1
cf_figlinks/fig3.11
cf_figlinks/fig3.12
cf_figlinks/fig3.2
cf_figlinks/fig3.5
cf_figlinks/fig4.12
cf_figlinks/fig4.16
cf_figlinks/fig4.21
cf_figlinks/fig4.21_wmraw
cf_figlinks/fig4.22
cf_figlinks/fig4.23
cf_figlinks/fig4.24
cf_figlinks/fig4.25
cf_figlinks/fig4.3
cf_figlinks/fig4.8
cf_figlinks/fig4.9
cf_figlinks/fig5.11
cf_figlinks/fig5.12
cf_figlinks/fig5.13
cf_figlinks/fig5.15
cf_figlinks/fig5.4
cf_figlinks/fig5.5
cf_figlinks/fig6.11
cf_figlinks/fig6.2
cf_figlinks/fig7.1
cf_figlinks/fig7.11
cf_figlinks/fig7.13
cf_figlinks/fig7.14
cf_figlinks/fig7.16
cf_figlinks/fig7.3
cf_figlinks/fig7.4
cf_figlinks/fig7.9
cf_figlinks/fig8.1
cf_figlinks/fig8.12
cf_figlinks/fig8.13
cf_figlinks/fig8.16
cf_figlinks/fig8.17
cf_figlinks/fig8.20
cf_figlinks/fig8.21
cf_figlinks/fig8.22
cf_figlinks/fig8.23
cf_figlinks/fig8.24
cf_figlinks/fig8.25
cf_figlinks/fig8.28
cf_figlinks/fig8.29
cf_figlinks/fig8.3
cf_figlinks/fig8.30
cf_figlinks/fig8.31
cf_figlinks/fig8.5
cf_figlinks/fig8.6
cf_figlinks/fig8.8
cf_figlinks/fig9.12
cf_figlinks/figB.1
cf_figlinks/figB.3
cf_figlinks/figB.4
cf_figlinks/figC.1
cf_figlinks/figC.10
cf_figlinks/figC.12
cf_figlinks/figC.13
cf_figlinks/figC.14
cf_figlinks/figC.15
cf_figlinks/figC.16
cf_figlinks/figC.17
cf_figlinks/figC.18
cf_figlinks/figC.20
cf_figlinks/figC.22
cf_figlinks/figC.23
cf_figlinks/figC.24
cf_figlinks/figC.3
cf_figlinks/figC.4
cf_figlinks/figC.5
cf_figlinks/figC.6
cf_figlinks/figC.7
cf_figlinks/figC.8

cg_figlinks/fig10.12.o
cg_figlinks/fig10.14.o
cg_figlinks/fig10.18.o
cg_figlinks/fig10.19.o
cg_figlinks/fig10.24.o
cg_figlinks/fig10.25.o
cg_figlinks/fig10.28.o
cg_figlinks/fig10.29.o
cg_figlinks/fig10.7.o
cg_figlinks/fig10.8.o
cg_figlinks/fig11.10.o
cg_figlinks/fig11.11.o
cg_figlinks/fig11.12.o
cg_figlinks/fig11.14.o
cg_figlinks/fig11.15.o
cg_figlinks/fig12.11.o
cg_figlinks/fig12.12.o
cg_figlinks/fig12.13.o
cg_figlinks/fig12.4.o
cg_figlinks/fig13.1.o
cg_figlinks/fig13.6.o
cg_figlinks/fig13.9.o
cg_figlinks/fig14.24.o
cg_figlinks/fig14.5.o
cg_figlinks/fig14.6.o
cg_figlinks/fig14.9.o
cg_figlinks/fig15.12.o
cg_figlinks/fig15.35.o
cg_figlinks/fig15.7.o
cg_figlinks/fig16.10.o
cg_figlinks/fig16.11.o
cg_figlinks/fig16.12.o
cg_figlinks/fig16.22.o
cg_figlinks/fig17.10.o
cg_figlinks/fig17.12.o
cg_figlinks/fig17.13.o
cg_figlinks/fig17.14.o
cg_figlinks/fig17.15.o
cg_figlinks/fig17.16.o
cg_figlinks/fig17.17.o
cg_figlinks/fig17.19.o
cg_figlinks/fig17.20.o
cg_figlinks/fig17.22.o
cg_figlinks/fig17.23.o
cg_figlinks/fig17.24.o
cg_figlinks/fig17.25.o
cg_figlinks/fig17.26.o
cg_figlinks/fig17.27.o
cg_figlinks/fig17.29.o
cg_figlinks/fig17.2.o
cg_figlinks/fig17.30.o
cg_figlinks/fig17.31.o
cg_figlinks/fig17.8.o
cg_figlinks/fig17.9.o
cg_figlinks/fig18.12.o
cg_figlinks/fig18.13.o
cg_figlinks/fig18.15.o
cg_figlinks/fig18.17.o
cg_figlinks/fig18.20.o
cg_figlinks/fig19.10.o
cg_figlinks/fig19.12.o
cg_figlinks/fig19.16.o
cg_figlinks/fig19.9.o
cg_figlinks/fig2.16.o
cg_figlinks/fig2.17.o
cg_figlinks/fig3.12.o
cg_figlinks/fig6.2.o
cg_figlinks/fig7.14.o
cg_figlinks/fig8.22.o
cg_figlinks/fig8.5.o
cg_figlinks/figB.1.o
cg_figlinks/figB.3.o
cg_figlinks/figB.4.o
cg_figlinks/figC.13.o
cg_figlinks/figC.16.o
cg_figlinks/figC.17.o
cg_figlinks/figC.1.o
cg_figlinks/figC.23.o
cg_figlinks/figC.4.o


ch_figlinks_batch_ai_comment/fig10.12.o
ch_figlinks_batch_ai_comment/fig10.14.o
ch_figlinks_batch_ai_comment/fig10.18.o
ch_figlinks_batch_ai_comment/fig10.19.o
ch_figlinks_batch_ai_comment/fig10.24.o
ch_figlinks_batch_ai_comment/fig10.25.o
ch_figlinks_batch_ai_comment/fig10.28.o
ch_figlinks_batch_ai_comment/fig10.29.o
ch_figlinks_batch_ai_comment/fig10.7.o
ch_figlinks_batch_ai_comment/fig10.8.o
ch_figlinks_batch_ai_comment/fig11.10.o
ch_figlinks_batch_ai_comment/fig11.11.o
ch_figlinks_batch_ai_comment/fig11.12.o
ch_figlinks_batch_ai_comment/fig11.14.o
ch_figlinks_batch_ai_comment/fig11.15.o
ch_figlinks_batch_ai_comment/fig12.11.o
ch_figlinks_batch_ai_comment/fig12.12.o
ch_figlinks_batch_ai_comment/fig12.13.o
ch_figlinks_batch_ai_comment/fig12.4.o
ch_figlinks_batch_ai_comment/fig13.1.o
ch_figlinks_batch_ai_comment/fig13.6.o
ch_figlinks_batch_ai_comment/fig13.9.o
ch_figlinks_batch_ai_comment/fig14.24.o
ch_figlinks_batch_ai_comment/fig14.5.o
ch_figlinks_batch_ai_comment/fig14.6.o
ch_figlinks_batch_ai_comment/fig14.9.o
ch_figlinks_batch_ai_comment/fig15.12.o
ch_figlinks_batch_ai_comment/fig15.35.o
ch_figlinks_batch_ai_comment/fig15.7.o
ch_figlinks_batch_ai_comment/fig16.10.o
ch_figlinks_batch_ai_comment/fig16.11.o
ch_figlinks_batch_ai_comment/fig16.12.o
ch_figlinks_batch_ai_comment/fig16.22.o
ch_figlinks_batch_ai_comment/fig17.10.o
ch_figlinks_batch_ai_comment/fig17.12.o
ch_figlinks_batch_ai_comment/fig17.13.o
ch_figlinks_batch_ai_comment/fig17.14.o
ch_figlinks_batch_ai_comment/fig17.15.o
ch_figlinks_batch_ai_comment/fig17.16.o
ch_figlinks_batch_ai_comment/fig17.17.o
ch_figlinks_batch_ai_comment/fig17.19.o
ch_figlinks_batch_ai_comment/fig17.20.o
ch_figlinks_batch_ai_comment/fig17.22.o
ch_figlinks_batch_ai_comment/fig17.23.o
ch_figlinks_batch_ai_comment/fig17.24.o
ch_figlinks_batch_ai_comment/fig17.25.o
ch_figlinks_batch_ai_comment/fig17.26.o
ch_figlinks_batch_ai_comment/fig17.27.o
ch_figlinks_batch_ai_comment/fig17.29.o
ch_figlinks_batch_ai_comment/fig17.2.o
ch_figlinks_batch_ai_comment/fig17.30.o
ch_figlinks_batch_ai_comment/fig17.31.o
ch_figlinks_batch_ai_comment/fig17.8.o
ch_figlinks_batch_ai_comment/fig17.9.o
ch_figlinks_batch_ai_comment/fig18.12.o
ch_figlinks_batch_ai_comment/fig18.13.o
ch_figlinks_batch_ai_comment/fig18.15.o
ch_figlinks_batch_ai_comment/fig18.17.o
ch_figlinks_batch_ai_comment/fig18.20.o
ch_figlinks_batch_ai_comment/fig19.10.o
ch_figlinks_batch_ai_comment/fig19.12.o
ch_figlinks_batch_ai_comment/fig19.16.o
ch_figlinks_batch_ai_comment/fig19.9.o
ch_figlinks_batch_ai_comment/fig2.16.o
ch_figlinks_batch_ai_comment/fig2.17.o
ch_figlinks_batch_ai_comment/fig3.12.o
ch_figlinks_batch_ai_comment/fig6.2.o
ch_figlinks_batch_ai_comment/fig7.14.o
ch_figlinks_batch_ai_comment/fig8.22.o
ch_figlinks_batch_ai_comment/fig8.5.o
ch_figlinks_batch_ai_comment/figB.1.o
ch_figlinks_batch_ai_comment/figB.3.o
ch_figlinks_batch_ai_comment/figB.4.o
ch_figlinks_batch_ai_comment/figC.13.o
ch_figlinks_batch_ai_comment/figC.16.o
ch_figlinks_batch_ai_comment/figC.17.o
ch_figlinks_batch_ai_comment/figC.1.o
ch_figlinks_batch_ai_comment/figC.23.o
ch_figlinks_batch_ai_comment/figC.4.o
